{% load static %}
<html>
    <head>
        <title>Metrics</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/meter_readings.css' %}">
    </head>
    <body>
    <div class="page-header">
         {% if user.is_authenticated %}
        <a href="" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        <a href="" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
        <p class="top-menu">Привет, {{ request.user.username }} <small>(<a href="{% url 'logout' %}">Выйти</a>)</small></p>
        <h1><a href="/">Мой расход воды</a></h1>
        {% else %}
        <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
        <h1><a href="/">Добро пожаловать на портал учета воды</a></h1>
        <div>
            <p><a href="{% url 'login' %}">Войдите</a> или <a href="{% url 'register' %}">зарегистрируйтесь</a> </p>
        </div>
    {% endif %}
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>