{% extends 'meter_readings/base.html' %}
{% block content %}
    <table border="1">
        <caption align="center">История показаний</caption>
            <tr align="center">
                <th>ID</th>
                <th>Горячая вода</th>
                <th>Холодная вода</th>
                <th>Дата показаний</th>
            </tr>
            {% for reading in readings %}
            <tr align="center">
                <td>{{ reading.id }}</td>
                <td>{{ reading.hot }}</td>
                <td>{{ reading.cold }}</td>
                <td>{{ reading.publish }}</td>
            </tr>
        {% endfor %}
    </table>
    <p><a href="{% url 'dashboard' %}">Назад</a></p>
{% endblock %}